/* Colores */
$celeste: #4295a5;
$azuleta: #005466;
$roseta: #fcd0aa;
$verduso: #f1fa;
$musguito: #67cea5;
$salmonella: #fcc97b;
$bordo: #932610;
$naranjin: #c9471a;
$pielcita: #edc78d;
$footer-bg: #f5f5ef;
